<div layout="column" layout-fill>
    <md-toolbar>
        <h2 class="md-toolbar-tools">Studio Ghibli Films</h2>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
        <search-bar update-search="AppCtrl.setSearchText">
        </search-bar>
        <md-input-container hide-gt-xs>
            <label>Sort By</label>
            <md-select ng-model="AppCtrl.dropdownFilter" md-selected-text="AppCtrl.getSelectedText()">
                <md-optgroup label="Categories">
                    <md-option ng-value="item" ng-repeat="item in AppCtrl.categories">{{item}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <table-info films="AppCtrl.films"
            is-done-loading="AppCtrl.isDoneLoading"
            set-sort-category="AppCtrl.setSortCategory(category)"
            toggle-sort-reverse="AppCtrl.toggleSortReverse()"
            sort-type="AppCtrl.sortType"
            sort-reverse="AppCtrl.sortReverse"
            search-text="AppCtrl.searchText"
        >
        </table-info>
    </md-content>
</div>
