<md-whiteframe hide-xs class="md-whiteframe-1dp table-whiteframe" layout layout-align="center center">
    <table ng-if="TableCtrl.isDoneLoading" class="animate-if">
        <thead>
            <tr layout="row">
                <th flex="15"
                    ng-click="TableCtrl.clickHeading('title')"
                    class="non-numeric-column"
                    ng-class="{'active-category': TableCtrl.sortType === 'title', 'hover-category': TableCtrl.currentHover==='title'}"
                    ng-mouseenter="TableCtrl.setCurrentHover('title')"
                    ng-mouseleave="TableCtrl.setCurrentHover('')">Title
                    <md-icon ng-class="TableCtrl.sortReverse ? 'reverse-arrow' : ''">arrow_drop_down</md-icon>
                </th>
                <th flex="10" 
                    ng-click="TableCtrl.clickHeading('release_date')"
                    class="numeric-column"
                    ng-class="{'active-category': TableCtrl.sortType === 'release_date', 'hover-category': TableCtrl.currentHover==='release_date'}"
                    ng-mouseenter="TableCtrl.setCurrentHover('release_date')"
                    ng-mouseleave="TableCtrl.setCurrentHover('')">
                    <md-icon ng-class="TableCtrl.sortReverse ? 'reverse-arrow' : ''">arrow_drop_down</md-icon>Year
                </th>
                <th flex="10" ng-click="TableCtrl.clickHeading('rt_score')"
                    class="numeric-column"
                    ng-class="{'active-category': TableCtrl.sortType === 'rt_score', 'hover-category': TableCtrl.currentHover==='rt_score'}"
                    ng-mouseenter="TableCtrl.setCurrentHover('rt_score')"
                    ng-mouseleave="TableCtrl.setCurrentHover('')">
                    <md-icon ng-class="TableCtrl.sortReverse ? 'reverse-arrow' : ''">arrow_drop_down</md-icon>Score
                </th>
                <th flex="15" ng-click="TableCtrl.clickHeading('director')"
                    class="non-numeric-column"
                    ng-class="{'active-category': TableCtrl.sortType === 'director', 'hover-category': TableCtrl.currentHover==='director'}"
                    ng-mouseenter="TableCtrl.setCurrentHover('director')"
                    ng-mouseleave="TableCtrl.setCurrentHover('')">Director
                    <md-icon ng-class="TableCtrl.sortReverse ? 'reverse-arrow' : ''">arrow_drop_down</md-icon>
                </th>
                <th flex="50" ng-click="TableCtrl.clickHeading('description')"
                    class="non-numeric-column"
                    ng-class="{'active-category': TableCtrl.sortType === 'description', 'hover-category': TableCtrl.currentHover==='description'}"
                    ng-mouseenter="TableCtrl.setCurrentHover('description')"
                    ng-mouseleave="TableCtrl.setCurrentHover('')">Description
                    <md-icon ng-class="TableCtrl.sortReverse ? 'reverse-arrow' : ''">arrow_drop_down</md-icon>
                </th>
            </tr>
        </thead>
        <tr layout="row" ng-repeat="film in TableCtrl.films | orderBy:TableCtrl.sortType:TableCtrl.sortReverse | filter:TableCtrl.searchText" class="table-data">
            <td flex="15" class="non-numeric-column">{{ film.title }}</td>
            <td flex="10" class="numeric-column">{{ film.release_date }}</td>
            <td flex="10" class="numeric-column">{{ film.rt_score + '%' }}</td>
            <td flex="15" class="non-numeric-column truncate">{{ film.director }}</td>
            <td flex="50" class="non-numeric-column">{{ film.description }}</td>
        </tr>
    </table>
</md-whiteframe>

<div hide-gt-xs class="md-padding" layout="column" flex>
    <div layout="column" ng-repeat="film in TableCtrl.films | orderBy:TableCtrl.sortType:TableCtrl.sortReverse | filter:TableCtrl.searchText">
        <md-card>
            <md-card-content class="table-data">
                <p>Title: {{ film.title }}</p>
                <p>Year: {{ film.release_date }}</p>
                <p>Score: {{ film.rt_score + '%' }}</p>
                <p>Director: {{ film.director }}</p>
                <p>Description: {{ film.description }}</p>
            </md-card-content>
        </md-card>
    </div>
</div>